.App {
  text-align: center;
}

/* * {
  background-color: #3E6680;
} */
/* .App-logo {
  /* animation: App-logo-spin infinite 20s linear; */

.App-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #222;
  height: 55px;
  padding: 10px;
  color: white;
}

.image-container {
  display: flex;
  align-items: center;
  margin-right: 1em;
}

.App-title {
  font-size: 1.5em;
  margin-top: 0;
}

.App-intro {
  font-size: large;
}

/* Body of Page */
.body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #ffffff;
  align-items: center;
  /* margin-bottom: 4em; */
  /* max-height: 700px;
  max-width: 414px; */
}

.main-menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  /* flex-shrink: 1; */
}

.main-menu ul {
  margin: 0em;
  margin-right: 1.2em;
  padding: 0em;
}

.main-menu li {
  list-style: none;
}

.menu-button {
  background-color: #3e6680;
  /* border: 2px dotted pink; */
  color: #ffffff;
  padding: 1em;
  height: 4.6em;
  width: 8em;
}

/* 
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} */

/*  */
/* Start Component */

/* footer special */

.footer-container {
  background-color: #3e6680;
  padding-top: 3em;
  padding-bottom: 6em;
}

/* Mobile devices */
@media (max-device-width: 1024px) and (min-device-width: 320px) {
  .body {
    display: flex;
    flex-direction: column;
  }

  .main-menu ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 20em;
  }

  .menu-button {
    background-color: #3e6680;
    /* border: 2px dotted pink; */
    color: #ffffff;
    padding: 0.2em;
    height: 4em;
    width: 5em;
  }
}
