/* @import "react-datepicker/dist/react-datepicker.css"; */

.map-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  /* width: 500px;
  height: 500px; */
}

.map-styling {
  display: flex;
  /* flex-shrink: 2; */
  border: 1px solid black;
  height: 40em;
  width: 40em;
  margin: 0.5em;
}

.side-bar {
  display: flex;
  flex-direction: column;
  margin: 0.5em;
  margin-bottom: 0.5em;
}

.add-event-button {
  background-color: #1d5d90;
  border-radius: 0.3em;
  color: white;
  margin: 0.5em;
  height: 3em;
  width: 8em;
}

.event-list {
  text-decoration: underline;
}

@media (max-device-width: 1024px) and (min-device-width: 320px) {
  .map-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .map-styling {
    display: flex;
    border: 1px solid black;
    height: 29em;
    width: 29em;
  }

  /* .date-picker {
    height: 10em;
    width: 10em;
  } */
}
