.breadcrumbs {
  display: flex;
  flex-direction: row;
  /* margin: 1em; */
  padding: 0.3em;
  /* width: 9em; */
}

.breadcrumb-button {
  border: 1px solid #272932;
  background-color: #e8e8e8;
  border-top-left-radius: 0.2em;
  border-bottom-left-radius: 0.2em;
  font-size: 0.88em;
  height: 2.6em;
  width: 8em;
  padding: 0.2em;
  text-decoration: none;
}

.breadcrumb-button:hover {
  background-color: #1d5d90;
}

.directory-button {
  border: 1px solid #272932;
  border-top-right-radius: 0.2em;
  border-bottom-right-radius: 0.2em;
  font-size: 0.88em;
  height: 2.6em;
  width: 8em;
  padding: 0.2em;
}

link {
  border: 1px solid #272932;
  margin-right: 0.5em;
  text-decoration: none;
}

.form-container {
  border: 2px double #272932;
  display: flex;
  flex-direction: column;
  margin: 0.5em;
  padding: 3em;
}

.profile-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1.5em;
}

.field-header {
  margin-right: 0.5em;
}

.profile-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2em;
}

.buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 2em;
}

.save-button {
  background-color: #1d5d90;
  border-radius: 0.3em;
  color: #e8e8e8;
  cursor: pointer;
  font-weight: bolder;
  margin: 0.5em;
  height: 2em;
  width: 8em;
  padding: 0.3em;
}

.save-button:hover {
  background-color: #4d7ea8;
}

.delete-button {
  background-color: darkred;
  border-radius: 0.3em;
  color: #e8e8e8;
  cursor: pointer;
  font-weight: bolder;
  margin: 0.5em;
  height: 2em;
  width: 8em;
  padding: 0.3em;
}

.delete-button:hover {
  background-color: rgb(77, 3, 3);
}

/* Mobile Devices */
/* @media (max-device-width: 414px) and (min-device-width: 320px) {
} */

/* Tablets, iPads, and Kindles */
/* @media (max-device-width: 1024px) and (min-device-width: 415px) {
} */

/* Large Monitors */
/* @media (min-device-width: 1025px) {
} */
