.breadcrumb {
  display: flex;
  justify-content: flex-start;
  margin: 1em 8em 0 0;
}

/* #home_icon {
  margin: 1em 0.5em 0 3em;
} */

link {
  margin-right: 0.5em;
}

.form-container {
  border: 2px double black;
  display: flex;
  flex-direction: column;
  margin: 0.5em;
  padding: 3em;
}

.profile-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1.5em;
}

.field-header {
  margin-right: 0.5em;
}

.profile-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2em;
}

.buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 2em;
}

.save-button {
  margin: 0.2em;
  padding: 0.3em;
}

.delete-button {
  background-color: darkred;
  color: white;
  margin: 0.2em;
  padding: 0.3em;
}

/* Mobile Devices */
/* @media (max-device-width: 1024px) and (min-device-width: 320px) {
} */
