.form-container {
  border: 2px double #272932;
  display: flex;
  flex-direction: column;
  margin: 0.5em;
  padding: 3em;
}

.field-style {
  display: flex;
  flex-direction: row;
}

.field-header {
  margin-right: 0.5em;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1.5em;
}

/* Mobile Devices */
/* @media (max-device-width: 414px) and (min-device-width: 320px) {
} */

/* Tablets, iPads, and Kindles */
/* @media (max-device-width: 1024px) and (min-device-width: 415px) {
} */

/* Large Monitors */
/* @media (min-device-width: 1025px) {
} */
