.breadcrumb {
  display: flex;
  justify-content: flex-start;
  margin: 1em 8em 0 0;
}

/* #home_icon {
  margin: 1em 0.5em 0 3em;
} */

link {
  margin-right: 0.5em;
}

.search-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.search-form {
  padding: 1.5em;
}

.searchbar {
  margin: 0.3em;
}

.search-button {
  margin: 0.2em;
}
